# Ignore dataset folders
dataset/*
!dataset/README.md

!dataset/horseactionrecognition
dataset/horseactionrecognition/*
!knowledge/dataset/horsevshuman
knowledge/dataset/horsevshuman/*

knowledge/dataset/preprocessed/*

# Ignore results folders
results/*

# System files
.DS_Store
Thumbs.db

# Python cache
*.pyc
*.pyo
*.pyd

# Jupyter notebook autosaves
*.ipynb_checkpoints

# Environment files
venv/
.env/
.venv/
classic_learning/

# Output directories
knowledge/output/*

# LaTeX build output
latex/latex/
latex/out/**
!latex/out/inz.pdf

latex/*
